@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
/* *{
    margin: 0 px;
    padding: 0 px;
} */

content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(251, 247, 232);
}

/* .container{
    position: relative;
} */

navbar{
    position: relative;
    list-style: none;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

li{
    margin: 10px;
    position: relative;
    /* z-index: 1; */
}

a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 2;
}

li::after{
    content:'';
    position: absolute;
    display: flex;
    width: 120%;
    top: -5px;
    left: -5px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(145, 206, 145);
    transform: scale(0);
    transition: 0.15s ease-in;
    z-index: 0;
}

li:hover::after{
    transform: scale(1);
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    position: relative;
    background-color: rgb(225, 225, 225);
    margin: 50px;
    width: 150px;
    height: 200px;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 5px 10px;
}

p{
    position: absolute;
    width: 90%;
    text-align: center;
    top: 125px;
    opacity: 0;
    transition: 1.5s;
}

.card:hover p{
    top: 100px;
    opacity: 1;
}

img{
    position: absolute;
    width: 50%;
    top: 35px;
    transition: 1s;
}

.card:hover img{
    position: absolute;
    top: 10px;
}